.main{
    padding-top: 50px;
    .body{
        h6{
            padding-left: 171px;
            color: rgb(153, 153, 153);
            letter-spacing: -1px;
            margin-bottom: 3vw;
        }
    }
}