.landing{
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;

    img{
        object-fit: cover;
        // height: 60%; 
    }
    
    .slidercontainer{
        position: absolute;
        top: 34vh;
    }

    .slider{
        position: relative;
        display: flex;
        white-space: nowrap;
    }

    .slider p{
        position: relative;
        color: white;
        font-size: 13vw;
        font-weight: 400;
        padding-right: 3vw;
        letter-spacing: -0.8vw;
    }
}