.landing{
    width: 100%;
    height: 115vh;
    position: relative;
    overflow: hidden;
    background-color: #999D9E;

    img{
        object-fit: contain;
        scale: 1.2;
    }
    
    .slidercontainer{
        position: absolute;
        top: 34vh;
    }

    .slider{
        position: relative;
        display: flex;
        white-space: nowrap;
    }

    .slider p{
        position: relative;
        color: white;
        font-size: 13vw;
        font-weight: 400;
        padding-right: 3vw;
        letter-spacing: -0.8vw;
    }

    .description{
        position: absolute;
        top: 35vh;
        left: 70vw;

        p{
            margin: 0px;
            margin-bottom: 0.6vw;
            letter-spacing: -0.1vw;
            font-size: 2.15vw;
            color: white;
        }

        svg{
            transform: scale(2.2);
            margin-bottom: 3vw;
            padding-left: 3px;
        }
    }
}