.menu{
    height: 100vh;
    width: 36vw;
    background-color: #1C1D20;
    position: fixed;
    right: 0;
    top: 0;
    color: white;
    z-index: 1;

    .body{
        display: flex;
        flex-direction: column;
        gap: 90px;
        padding: 80px;
        padding-left: 90px;

        .nav{
            display: flex;
            flex-direction: column;
            gap: 6px;
            
            .header{
                color: rgb(153, 153, 153);
                opacity: 0.8;
                border-bottom: 1px solid rgb(153, 153, 153, 0.8);
                text-transform: uppercase;
                font-size: 14px;
                font-weight: 900;
                margin-top: 10px;
                width: 95%;
                margin-bottom: 34px;
                letter-spacing: -1px;
            }

            a{
                font-size: 3.36vw;
                text-decoration: none;
                color: white;
                font-weight: 500;
                letter-spacing: -1px;
            }
        }

        .footer{
            width: 100%;
            padding-left: 9px;

            .socials{
                color: rgb(153, 153, 153);
                opacity: 0.8;
                text-transform: uppercase;
                font-size: 14px;
                font-weight: 900;
                letter-spacing: -1px;
            }

            .links{
                display: flex;
                gap: 30px;
                font-size: 1vw;
                font-weight: 500;
                letter-spacing: -1px;
                cursor: pointer;

                a{
                    text-decoration: none;
                    color: white;
                    position: relative;

                    &::after {
                        content: '';
                        position: absolute;
                        left: 51%;
                        bottom: -4px;
                        width: 0; /* Start with zero width */
                        height: 1px;
                        background-color: white;
                        transform: translateX(-50%); /* Center the underline horizontally */
                        transform-origin: center;
                        transition: width 0.3s ease-out, transform 0.3s ease-out;
                      }
                    
                      &:hover::after {
                        width: 100%; /* Expand the underline to full width on hover */
                      }
                }
            }
        }
    }
}