.menu{
    height: 100vh;
    width: 36vw;
    background-color: #1C1D20;
    position: fixed;
    right: 0;
    top: 0;
    color: white;
    z-index: 1;

    .body{
        display: flex;
        flex-direction: column;
        gap: 90px;
        padding: 80px;

        .nav{
            display: flex;
            flex-direction: column;
            gap: 6px;
            
            .header{
                color: rgb(153, 153, 153);
                opacity: 0.8;
                border-bottom: 1px solid rgb(153, 153, 153, 0.8);
                text-transform: uppercase;
                font-size: 13px;
                font-weight: 900;
                margin-top: 10px;
                margin-bottom: 34px;
                letter-spacing: -1px;
            }

            a{
                font-size: 3.36vw;
                text-decoration: none;
                color: white;
                font-weight: 500;
                letter-spacing: -1px;
            }
        }

        .footer{
            width: 100%;
            padding-left: 9px;

            .socials{
                color: rgb(153, 153, 153);
                opacity: 0.8;
                text-transform: uppercase;
                font-size: 13px;
                font-weight: 900;
                letter-spacing: -1px;
            }

            .links{
                display: flex;
                gap: 30px;
                font-size: 0.9vw;
                font-weight: 500;
                letter-spacing: 0px;
                cursor: pointer;

                a{
                    text-decoration: none;
                    color: white;
                }
            }
        }
    }
}